Flask
gunicorn
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
nltk==3.8.1
numpy
pypdf
requests
SQLAlchemy
langchain
PyPDF2  # This is often required for PDF loading
google-api-python-client
docarray
