aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
docarray
Flask
frozenlist
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud
google-generativeai
googleapis-common-protos
gunicorn
greenlet
grpci
grpcio-status
h11
httpcore
httplib
httpx
idna
itsdangerous
Jinja2
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy-extensions
nltk
numpy
orjson
packaging
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
Pygment
pyparsing
pypdf
python-dotenv
PyYAML
regex
requests
rich
rsa
sniffio
SQLAlchemy
tenacity
tqdm
types-requests
typing-inspect
typing_extensions
uritemplate
urllib3
Werkzeug
yarl
